@model Database.Models.Productora
@{
    ViewData["Title"] = "Agregar Productoras";
}



<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h3 class="text-white"><strong>Lista de Productoras</strong></h3>
            </div>
            <div class="card-body">
                <form asp-action="AgregarProductora" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group mb-3">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" placeholder="Ingresa el nombre" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary d-block mx-auto"><i class="bi bi-plus-circle-fill"></i>Agregar Productora</button>
                    </div>
                </form>

                <a asp-controller="Productora" asp-action="PListado">Volver</a>
            </div>
        </div>
    </div>
</div>
